@import 'jeet/index'
//edit();


body,html 
	margin 0
	padding 0
	
* 
	box-sizing border-box 
	

#navbar
	position: fixed
	width 100%
	background-color white
	height 80px
		
	
	a
		col(3/16)
		text-align center
		height 80px
		padding-top 20px
		font-family	"Helvetica Neue"
		font-weight 100
		text-decoration none
		color black
		font-size: 2.0em
		
		
		+above(1050px)
			display block
		
		+tablet()
			display none
		
		+mobile()
			font-size 1em
			height 40px
			display none
		
	a:hover
		cursor pointer
		color #555

	#logodiv
		padding-left 10px
		col(1/4)
		height 80px
		
	#logo
		+mobile()
			col(7/8)
			position fixed
			top 5px
			left -25px

	#logo:hover
		cursor: pointer
		
	#menuicon
		margin-left 20px
		margin-right 20px
		margin-top 30px
		margin-bottom 0px
		width 40px
		height 50px
		
		+above(1050px)
			display none
		
		+tablet()
			display block 	
			float right

		
		+mobile()
			display block
			float right

			
	
	#menuicon:hover
		cursor pointer
		color #555
	
	#menuicon:active
		background-color #ccc


.minMenuItem
	display block !important
	width 100% !important
	height 50px !important
	padding 7px 0px !important
	

#menubar
	+above(1050px)
		height 0px			
	

#topPic
	width 100%
	margin-top: 80px
	margin-bottom: 50px
	
	+tablet()
		margin-top 80px
		
	+mobile()
		margin-top: 80px
	
article
	font-size 1.3em
	line-height 65px
	font-family "Open Sans"
	font-weight 300
	margin 80px 150px
	padding 10px 0px
	
	+tablet()
		margin 20px 30px
		padding 10px 0px
		font-size 1.0em
		line-height 45px

		
	+mobile()
		margin 10px 30px
		padding 10px 0px
		font-size 0.8em
		line-height 40px

	
	.textStart
		font-weight bold
		
	h1
		font-size 2em
		font-weight 200
		
#contact
	padding 30px
	height 100vh
	background-color #f5f5f5
	
	+mobile()
		padding-top 0px

	
	#mailarticle
		margin-top 0px 
		margin-bottom 0px
		padding-top 50px
		col(1)
		
		+mobile()
			padding-top 10px
		

	
	#msgarea
		height 250px
		border 1px solid #d5d5d5
		resize none
		outline none
		padding 10px
		font-size 0.8em
		margin-bottom 10px
		border-radius 5px
		font-family: "Open Sans"
		width 100%
		display block

		
		
	#mailarea
		height 50px
		border 1px solid #d5d5d5
		outline none
		padding 10px
		margin-top: 10px
		margin-bottom: 10px
		font-size 0.8em
		border-radius 5px
		font-family: "Open Sans"
		width 100%
		display block
		

		
	#namearea
		height 50px
		border 1px solid #d5d5d5
		outline none
		padding 10px
		font-size 0.8em
		border-radius 5px
		font-family: "Open Sans"
		width 100%
		display block

	
	#inputdiv
		center(500px)
		
		#nameandmail
			col(1)

		
	#sendbutton
		border 1px solid #d5d5d5
		outline none
		padding 10px
		height 40px
		font-size 0.8em
		background-color: white
		font-family: "Open Sans"
		border-radius 5px
		text-align center
		display: block
		
		
		+tablet()
			height 50px
			font-size 1em
			
		+mobile()
			height 50px
			font-size 1em


		
	#sendbutton:hover
		cursor pointer
		color #555



	
