<article id="kunder">
	<h1>Kunder</h1>
    <p id="customers"><span class="textStart">Vi samarbetar</span> med ett flertal kommuner i Sverige, men även andra organisationer och företag. Tillsammans med våra kunder utvecklar vi en plattform som underlättar uppföljning och minskar pappersarbetet.</p>
</article>