 <article id ="om">
 	<h1>Företaget</h1>
    <p id="meanalytics"><span class="textStart">Me Analytics</span> utvecklar användarvänliga IT-verktyg som stödjer individuella och kollektiva lärprocesser samt hjälper organisationer i deras systematiska kvalitetsarbete för att uppnå ständiga förbättringar. Våra innovativa produkter och tjänster bygger på ledande svensk forskning på området och lång praktiskt erfarenhet av utvecklingsarbete i offentlig och privat sektor. Våra kunder finns runt om i Europa, främst i utbildningssektorn och i privat sektor.</p>
</article>