 <article id="produkter">
 	<h1>Produkter</h1>  
	<p id="loopme"><span class="textStart">LoopMe</span> är ett appbaserat IT-verktyg som hjälper lärare och chefer att bättre stödja individers lärande och utveckling. Information skickas i realtid mellan användarna och kan användas för snabb feedback, bättre beslut och underlättad uppföljning. LoopMe används av personal i skola och högskola, men även av chefer som vill erbjuda sina medarbetare en direktkanal för ömsesidig feedback och vardagskoll, eller som det heter på engelska – ”Keep me in the loop”.</p>

</article>